.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vs/
*.code-workspace
*.suo
*.user
*.userossc
*.sln.docstates

*.log
*.tmp
*.temp
*.bak
*.cache
*.pid
__pycache__/
*.pyc

bin/
obj/
out/
dist/
Debug/
Release/
x64/
ipch/
*.ilk
*.idb
*.obj
*.o
*.pch
*.pdb
*.lib
*.dll
*.exe
*.scr
*.exp
*.tlog
*.lastbuildstate
*.VC.db
*.opendb

*.aps
*.res
