#define SCREENSAVE_PRODUCT_NAME "ScreenSave Atlas"
#define SCREENSAVE_FILE_DESCRIPTION "ScreenSave Atlas screen saver"
#define SCREENSAVE_INTERNAL_NAME "atlas.scr"
#define SCREENSAVE_ORIGINAL_FILENAME "atlas.scr"
#define SCREENSAVE_PRODUCT_COMMENT "Standalone ScreenSave saver product"
#include "../../../../platform/src/host/win32_scr/scr_product_version.rc"
