#define SCREENSAVE_PRODUCT_NAME "ScreenSave Phosphor"
#define SCREENSAVE_FILE_DESCRIPTION "ScreenSave Phosphor screen saver"
#define SCREENSAVE_INTERNAL_NAME "phosphor.scr"
#define SCREENSAVE_ORIGINAL_FILENAME "phosphor.scr"
#define SCREENSAVE_PRODUCT_COMMENT "Standalone ScreenSave saver product"
#include "../../../../platform/src/host/win32_scr/scr_product_version.rc"
