#define SCREENSAVE_PRODUCT_NAME "ScreenSave City"
#define SCREENSAVE_FILE_DESCRIPTION "ScreenSave City screen saver"
#define SCREENSAVE_INTERNAL_NAME "city.scr"
#define SCREENSAVE_ORIGINAL_FILENAME "city.scr"
#define SCREENSAVE_PRODUCT_COMMENT "Standalone ScreenSave saver product"
#include "../../../../platform/src/host/win32_scr/scr_product_version.rc"
